.bg {
	background: url("view/img/Paper3.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity:.4
}

.container {

	background: #fff;
	height: 800px;
	width:400px;
	height: 800px;
	border: 4px solid;
	/*border-color: black;*/
	border-color: orange;
	opacity: 1;
	z-index: 10;
	font-size: 10pt;
}
label{
	font-weight: bold;
}
img {
	width:100%;
}

body {
	color: green;
}

input {
	/*border-color: #993233;*/
	outline-color: orange;
	/*border-color:orange;*/
}

.billed {
	color:993233;	
}

textarea {
	outline-color: orange;
	width:350px;
	max-width:350px;
	height: 100px;
}

.date {
	width:100px;
}

.bold {
	font-weight:bold !important;
}

.ql-editor{
	height: 100px;
}