<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8mb4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
	<title>The Carolinanian Bid Form</title>
	<link rel="icon" type="image/png" href="/img/Paper3.png" />
	<link rel="stylesheet" type="text/css" href="/style/app.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
	</script>
	<noscript>
		<h2>This page requires safari or chrome browser</h2>
	</noscript>
	<script>
		if (/Edge\/|Trident\/|MSIE/.test(navigator.userAgent)) {
			alert('For the best user experience we recommend using Google Chrome or Safari. You can use Internet Exlorer v11, but Chrome is more advanced and works better.  The copy/paste feature is not supported by the Microsoft EDGE browswer.');
		}
	</script>
</head>

<body>
	<div id="medias">
		<div id="CaroBanner">

		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#">Demo</a>
			<span onclick="copyEmial()">
				<div class="dropdown">
					<a href="#" title="Click to copy help@carobids.com to your clipboard and launch your local email." class="dropbtn"
					 style="color:white;">
						Contact
					</a>
					<div class="dropdown-content">
						<a href="#" onclick="copyEmial();closeNav();alert('help@carobids.com is copied to your clipboard.  You can now paste it into your email')"
						 style="font-size:18px" title="copy to clip board">
							help@carobids.com
						</a>
						<a href="mailto:help@carobids.com?Subject=Carolinian%20Bid%20Form%20Inquiry" onclick="copyEmial();closeNav()"
						 style="font-size:18px" title="Launch your desktop email">
							Launch your email
						</a>
					</div>
				</div>
			</span>
		</div>

		<div id="main">
			<div id="notify">
				{{{errRes.errorMessage}}}
			</div>
			<div id="CaroMan">

			</div>
			{{{body}}}
		</div>
	</div>
	<script type="text/javascript" src="/js/re.js"></script>
</body>

</html>