<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=no">
	<title>The Carolinanian Bid Form</title>
	<!-- link to the custom styles for SqPaymentForm -->
	<link rel="stylesheet" type="text/css" href="style/sqpaymentform.css">
	<link rel="stylesheet" type="text/css" href="style/app.css">
	<noscript><h2>This page requires safari or chrome browsser</h2></noscript>
	<script>
		if (/Edge\/|Trident\/|MSIE/.test(navigator.userAgent)) {
		alert('For the best user experience we recommend using Google Chrome or Safari. You can use Internet Exlorer v11, but Chrome is more advanced and works better.  The copy/paste feature is not supported by the Microsoft EDGE browswer.');
		}
	</script>
	<!-- link to the SqPaymentForm library -->
	<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

	<!-- link to the local SqPaymentForm initialization -->
	<script type="text/javascript" src="js/sqpaymentform.js"></script>
	<script type="text/javascript" src="/js/media.js"></script>
</head>
<body>
	<div id="CaroBanner"></div>
	{{{body}}}
</body>
</html>