<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8mb4">
	<meta http-equiv="refresh" content="300;URL='https://www.carobids.com/'" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
	<title>The Carolinanian Bid Form</title>
	<link rel="icon" type="image/png" href="/img/Paper3.png"/>
	<link rel="stylesheet" type="text/css" href="/style/app.css">
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<noscript><h2>This page requires safari or chrome browser</h2></noscript>
	<script>
		if (/Edge\/|Trident\/|MSIE/.test(navigator.userAgent)) {
		alert('For the best user experience we recommend using Google Chrome or Safari. You can use Internet Exlorer v11, but Chrome is more advanced and works better.  The copy/paste feature is not supported by the Microsoft EDGE browswer.');
		}
	</script>
	

	<!-- link to the local SqPaymentForm initialization -->
	{{!-- <script type="text/javascript" src="js/sqpaymentform.js"></script> --}}
	<!-- link to the custom styles for SqPaymentForm -->
	{{!-- <link rel="stylesheet" type="text/css" href="squareCss/sqpaymentform.css"> --}}
</head>
<body>
	<div id="medias">
		<div id="CaroBanner"></div>
		<div id='home'></div>
		<div id="CaroMan"></div>
		{{{body}}}
	</div>
	<script type="text/javascript" src="/js/media.js"></script>
</body>
</html>