<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=no">
	<title>The Carolinanian Bid Form</title>
	<link rel="stylesheet" type="text/css" href="style/app.css">
	<noscript><h2>This page requires safari or chrome browsser</h2></noscript>
	<script>
	if (/Edge/.test(navigator.userAgent)) {
    alert('We recommend using Google Chrome or Safari for this app. MS EDGE and Internet Explorer do not support the paste feature.');
}
	</script>
</head>
<body>
	{{{body}}}
</body>
</html>