<div class="container border-main">
{{!-- <div id="CaroBanner"></div> --}}
	{{!-- <img src="http://caro.news/wp-content/uploads/2017/12/caro-logo-for-website.png"> --}}
	<header>
        <h2 id="bid-form">
            The Carolinian <b>Bid Form</b>
        </h2>
    </header>
    <div id="CaroMan"></div>
    <div>
        Your bill comes out to <b>{{rec.price}}</b>
    </div>
    <div id="ta_2">
        <div id="sq-ccbox">
  <!--
    You should replace the action attribute of the form with the path of
    the URL you want to POST the nonce to (for example, "/process-card")
  -->
  <form id="nonce-form" novalidate action="thanks" method="post">
    Pay with a Credit Card
    <table>
    <tbody>
      <tr>
        <td>Card Number:</td>
        <td><div id="sq-card-number"></div></td>
      </tr>
      <tr>
        <td>CVV:</td>
        <td><div id="sq-cvv"></div></td>
      </tr>
      <tr>
        <td>Expiration Date: </td>
        <td><div id="sq-expiration-date"></div></td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td><div id="sq-postal-code"></div></td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
            Pay with card
          </button>
        </td>
      </tr>
    </tbody>
    </table>

    <!--
      After a nonce is generated it will be assigned to this hidden input field.
    -->
    <input type="hidden" id="card-nonce" name="nonce">
  </form>
</div>

<div id="sq-walletbox">
  Pay with a Digital Wallet
  <!-- Placeholder for Apple Pay for Web button -->
  <button id="sq-apple-pay" class="button-apple-pay"></button>

  <!-- Placeholder for Google Pay button-->
  <button id="sq-google-pay" class="button-google-pay"></button>

  <!-- Placeholder for Masterpass button -->
  <button id="sq-masterpass" class="button-masterpass"></button>
</div>

    </div>

</div>
<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="/js/sqpaymentform.js"></script>
<script type="text/javascript" src="/js/media.js"></script>