<div id="contain" class="container border-main">
    <header>
        <h2 id="bid-form">
            <div id='home'>

            </div>
            <span id="title" title="Click to open side navigator" style="cursor:pointer" onclick="openNav()">
                <span style="font-size:30px;" onclick="openNav()">
                    &#9776;
                </span>
                <span>
                    The Carolinian
                    <b>
                        Bid Form
                    </b>
                </span>
            </span>
        </h2>
    </header>
    <div style="margin-left:25px; padding-bottom:210px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TErOfD_cLTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>
<script type="text/javascript" src="/js/refresh.js"></script>