<div class="container">
		<header><h2 id="bid-form">The Carolinian <b>Bid Form</b</h2></header>
		<div id=text-editor>
			<button class="button" id="h1" class="fontStyle" onclick="document.execCommand( 'formatBlock','false','<h1>'); getBidNfo();" contenteditable="false">
				<b>h1</b>
			</button>
			<button class="button" id="h3" class="fontStyle" onclick="document.execCommand( 'formatBlock','false','<h3>'); getBidNfo();" contenteditable="false">
				<b>h3</b>
			</button>
			<button id="bold" class="button" class="fontStyle" onclick="document.execCommand( 'bold',false,null); getBidNfo();" title="Bold Highlighted Text" contenteditable="false">
				<b>B</b>
			</button>
			<button id="italics" class="button" class="fontStyle" onclick="document.execCommand('italic',false,null); getBidNfo();" title="Italicize Highlighted Text" contenteditable="false">
				<i>i</i>
			</button>
			<button class="button" class="fontStyle" id= "be-underline" onclick="document.execCommand( 'underline',false,null); getBidNfo();" contenteditable="false">
				<u>U</u>
			</button>
			<button class="button" id="bullet-list" class="fontStyle" onclick="document.execCommand('insertUnorderedlist'); getBidNfo();" contenteditable="false">
				<img id="bul-list" src="/img/bullet-List.png">
			</button>
			<button class="button" id="undo" class="fontStyle" onclick="document.execCommand( 'undo','true',null);" contenteditable="false">
				<b>&#x27f2;</b>
			</button>

			<button class="button" id="redo" class="fontStyle" onclick="document.execCommand( 'redo','true',null);" contenteditable="false">
				<b>&#x27f3;</b>
			</button>
		</div>
		<section>
			<form action="/add" method="post">
				<div id="ta" class="bid_ad_txt" rows="2" contenteditable="true" type="text" onkeyup="getBidNfo()">
				</div>	
				<textarea onkeyup="getBidNfo()" class="bidAd" id="bidAd" type="text" name="bid_Ad">
				</textarea>
				<div class="input-group">
					<input class="name-puts" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required>
					{{!-- <input class="datepicker" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required> --}}
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Company Name</label>
				</div>
				<div id="email-puts">
				<div class="input-group">
					<input class="name-puts" type="email" name="email" pattern="[A-Za-z0-9-_.@]+" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Email</label>
				</div>
				</div>
				<div id="toast" hidden><div id="desc" >You have entered an invalid date. <br>Please select either <br>Sunday or Thursday.</div></div>
				<p class="how-long">
					<b>How many bid runs?</b>
					<select  name="runs" id="runs" onchange="enable_dates(this); show_inputs(this);">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</p>
				<span>
				{{!-- <label class="date-puts">Date 1:	 --}}
				{{!-- <input  pattern= "[0-9-]+" min="today" name="input1" class="date" type="date" placeholder="YYYY-MM-DD" title="Your bid must be placed on a Sunday or a Thursday" required onkeypress="return event.keyCode != 13;" id = "date1"> --}}
				{{!-- Testing jQuery datepicker	 --}}
				{{!-- <input type="text" pattern="[0-9-]+" class="datepicker" name="input1" required onkeypress="return event.keyCode != 13;" id = "date1"> --}}
				<div class="input-group">
					{{!-- <input class="name-puts" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required> --}}
					<input class="datepicker" type="text" pattern="[0-9-]+" id="date1" onkeypress="return event.keyCode != 13;" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Date 1</label>
				</div>
				<div class="input-group">
					{{!-- <input class="name-puts" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required> --}}
					<input class="datepicker" type="text" pattern="[0-9-]+" name="input1" id="date2" onkeypress="return event.keyCode != 13;" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Date 2</label>
				</div>
				<div class="input-group">
					{{!-- <input class="name-puts" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required> --}}
					<input class="datepicker" type="text" pattern="[0-9-]+" name="input3" id="date3" onkeypress="return event.keyCode != 13;" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Date 3</label>
				</div>
				<div class="input-group">
					{{!-- <input class="name-puts" type="text" name="company" pattern="[A-Za-z0-9-_. ]+" required> --}}
					<input class="datepicker" type="text" pattern="[0-9-]+" name="input4" id="date4" onkeypress="return event.keyCode != 13;" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label class="label-names">Date 4</label>
				</div>
				{{!-- </label> --}}
				
				<label class="date-puts" id="2" hidden>Date 2:	
				<input name="input2" class="date" type="date" placeholder="YYYY-MM-DD" required onkeypress="return event.keyCode != 13;" id = "date2" disabled>
				</label>	
				</span>
				<div>				<span>
				<label class="date-puts" id="3" hidden>Date 3:
				<input name="input3" class="date" type="date" placeholder="YYYY-MM-DD"  required onkeypress="return event.keyCode != 13;" id = "date3" disabled>
				</label>

				<label class="date-puts" id="4" hidden>Date 4:
				<input name="input4" class="date" type="date" placeholder="YYYY-MM-DD"  required onkeypress="return event.keyCode != 13;" id = "date4" disabled>
				</label>
				</span>
				</div>

				{{!-- Submit button --}}
				<div id="index-Button">
					<button onclick="noMondays()" class="caro-submit" id="submit-B" href="pybtyfts.html"  value="Submit">Submit</button>
				</div>
				{{!-- Used to push text to db --}}
				<textarea contenteditable="true" id="lines" type="text" name="price">
				</textarea>
				{{!-- <textarea contenteditable="true" id="lines_2" type="text" name="price_2">
				</textarea> --}}
				<input type="text" id ="lines_2" name="price_2" hidden>
				{{!-- <input type="text" id="radKey" name="random_key" > --}}
				{{!-- toast --}}
			</form>
		</section>
</div> <!-- container -->
<script type="text/javascript" src="/js/app.js"></script>	