<div class="container">
	<div id="pad">
		<header><h2 id="bid-form">The Carolinian <b>Bid Form</b</h2></header>
		<div id=text-editor>
			<button class="button" id="h1" class="fontStyle" onclick="document.execCommand( 'formatBlock','false','<h1>');" contenteditable="false">
				<b>h1</b>
			</button>
			<button class="button" id="h3" class="fontStyle" onclick="document.execCommand( 'formatBlock','false','<h3>');" contenteditable="false">
				<b>h3</b>
			</button>
			<button id="bold" class="button" class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text" contenteditable="false">
				<b>B</b>
			</button>
			<button id="italics" class="button" class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text" contenteditable="false">
				<i>i</i>
			</button>
			<button class="button" class="fontStyle" id= "be-underline" onclick="document.execCommand( 'underline',false,null);" contenteditable="false">
				<u>U</u>
			</button>
			<button class="button" id="bullet-list" class="fontStyle" onclick="document.execCommand( 'insertUnorderedList','true',null);" contenteditable="false">
				<img id="bul-list" src="/img/bullet-List.png">
			</button>
			<button class="button" id="undo" class="fontStyle" onclick="document.execCommand( 'undo','true',null);" contenteditable="false">
				<b>&#x27f2;</b>
			</button>

			<button class="button" id="redo" class="fontStyle" onclick="document.execCommand( 'redo','true',null);" contenteditable="false">
				<b>&#x27f3;</b>
			</button>
		</div>
		<section>
			<form action="/add" method="post">
				<div  id="ta" class="bid_ad_txt" rows="2" contenteditable="true" type="text" onkeyup="getBidNfo()">
				</div>	
				<textarea onkeyup="getBidNfo()" class="bidAd" id="bidAd" type="text" name="bid_Ad">
				</textarea>

				<label class="title" >Company Name:</label><br>
				<input class="title-input" type="text" name="company"><span><img src="img/Caro-Newsman-Mark-223x300.png" class="caroman"></span><br>
				<label class="billed">	Bid Details:</label>
				&nbsp; &nbsp;
				<a href="#" class="billed">How you are billed</a><br>		

				<p class="how-long">
					<b>How long will the bid run?:</b>
					<select  name="runs" id="runs" onchange="enable_dates(this); show_inputs(this);">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</p>
				<span>
				<label>	Date 1:	
				<input  min="today" name="input1" class="date" type="date" placeholder="YYYY-MM-DD" title="Your bid must be placed on a Sunday or a Thursday" required onkeypress="return event.keyCode != 13;" id = "date1">
				</label>	
				
				<label id="2" hidden>Date 2:	
				<input name="input2" class="date" type="date" placeholder="YYYY-MM-DD" required onkeypress="return event.keyCode != 13;" id = "date2" disabled>
				</label>	
				</span>
				<br>
				<span>
				<label id="3" hidden>Date 3:
				<input name="input3" class="date" type="date" placeholder="YYYY-MM-DD"  required onkeypress="return event.keyCode != 13;" id = "date3" disabled>
				</label>

				<label id="4" hidden>Date 4:
				<input name="input4" class="date" type="date" placeholder="YYYY-MM-DD"  onkeypress="return event.keyCode != 13;" id = "date4" disabled>
				</label>
				</span>
				{{!-- Submit button --}}
				<button onclick="calculateHeight()" class="caro-submit" id="submit-B" href="pybtyfts.html" type="submit" value="Submit">Submit</button>
				{{!-- Used to push text to db --}}
				<textarea contenteditable="true" id="lines" type="text" name="price">
				</textarea>
				{{!-- toast --}}
				<div id="toast"><div id="desc">You have entered an invalid date. <br>Please select either Sunday or Thursday</div></div>
			</form>
		</section>
	</div>	
</div> <!-- container -->
<script type="text/javascript" src="/js/app.js"></script>	
<script type="text/javascript" src="/js/media.js"></script>