<div class="container border-main">
    <div id="bid-query">
        {{#each rows}}
        <div id="ta_2"> 
    <form action= "/fetch-seek-find-locate/submit" method="post" >
        <div>
            Enter Record locator: <input name="id" type="text"> <button type="submit" value="Submit" id=findIT>Search</button>
        </div>
    </form>
            <div>Date of runs: {{this.runs}}</div>
            <br>
            <div>Company name: {{this.name}}</div>
            <br>
            <div>Amount paid: {{{this.price}}}</div>
            <br>
            <div>Bid text shows here:
                <p>
                    {{!-- <br> --}}
                <div class="black-line">
                    {{{this.bid_ad}}}
                </div>
            </div>   
        </div>
    </div>
        {{/each}}
</div>
<script type="text/javascript" src="/js/media.js"></script>