<div class="container">
	<div id="CaroBanner"></div>
	You're record locator is: <span>{{stupid}}</span> <span id="randomId"></span>
	<div id="CaroMan"></div>
	{{estimate}}
</div>
<script type="text/javascript" src="/js/media.js"></script>