<div class="container">
	<div id="CaroBanner"></div>
	You're record locator is: <span>{{results}}</span>
	<div id="CaroMan"></div>
	Your bill comes out to {{price}}
</div>
<script type="text/javascript" src="/js/media.js"></script>