<div class="container">
	<div id="CaroBanner"></div>
	You're record locator is: {{bid_ad}}<span id="randomId"></span>
	<div id="CaroMan"></div>
	{{estimate}}
</div>
<script type="text/javascript" src="media.js"></script>