<div class="container border-main">
	<div id="CaroMan"></div>
	<header><h2 id="bid-form">Please review your BID ADD before continuing: </h2></header>	
	<div id="ta_2">
		{{{rec.bid_text}}}
	<button class="caro-submit add" id="submit-B" onclick="location.href='payment';">Continue</button>
	</div>
</div>
<script type="text/javascript" src="/js/media.js"></script>