<div class="container border-main">
	<div id="CaroMan"></div>
	<header><h2 id="bid-form">Please review your BID AD before continuing: </h2></header>	
	<div id="ta_2">
	<form action='/payment' method="post">
		<div class="black-line">
			{{{rec.bid_text}}}
		</div>
		<div id="reviw-Button">
			<input type="text" id="radKey" name="random_key" value="{{{rec.rec_locator}}}" hidden>
		</div>
		<br>
	<button class="caro-submit add" id="submit-B" href='ccpgtm' onkeyup="makeid()">Continue</button>
	</form>
	</div>
</div>