<div class="container">
	<div id="CaroBanner"></div>
	You're record locator is: <span>{{records}}</span>
	<div id="CaroMan"></div>
	Your bill comes out to {{pricing}}
	<div>And here's your add folks {{bids}}</div>
</div>
<script type="text/javascript" src="/js/media.js"></script>