<div class="container">
	<div id="CaroBanner"></div>
	You're record locator is: <span>{{rec.rec_locator}}</span>
	<div id="CaroMan"></div>
	Your bill comes out to {{rec.price}}
	{{!-- <div>And here's your add folks {{rec.bid_text}}</div> --}}

	{{!-- This will allow the html to render with the markup from the text box --}}
	<div id="ta" class="bid_ad_txt">And here's your add folks {{{rec.bid_text}}}</div>
</div>
<script type="text/javascript" src="/js/media.js"></script>