<div id="contain" class="container border-main">
	<header>
		<h2 id="bid-form">
			<div id='home'>

			</div>
			<span id="title" title="Click to open side navigator" style="cursor:pointer" onclick="openNav()">
				<span style="font-size:30px;" onclick="openNav()">
					<span class="burger">&#9776;</span>
				</span>
				<span>
					The Carolinian
					<b>
						Bid Form
					</b>
				</span>
			</span>
		</h2>
	</header>
	<div id="bid-verify">BID AD preview: </div>
	<div id="ta_2">
		<form id="ontothenext" action='/payment' method="post">
			<div class="black-line">
				{{{rec.bid_text}}}
			</div>
			<div id="reviw-Button">
				<input type="text" id="radKey" name="random_key" value="{{{rec.rec_locator}}}" readonly hidden>
				<input type="text" id="radKey_" name="email_" value="{{{rec.email}}}" readonly hidden>
			</div>
		</form>
	</div>
	<div id="confirmBtn">
		<button class="caro-submit add" id="submit-B" type='submit' form="ontothenext" href='ccpgtm'
			onkeyup="makeid()">Continue</button>
	</div>
</div>
<script type="text/javascript">
	function noBack() {
		window.history.forward()
	}
	noBack();
	window.onload = noBack;
	window.onpageshow = function (evt) { if (evt.persisted) noBack() }
	window.onbeforeunload = function (e) {
		sessionStorage.clear();
	};
	window.onunload = function () { void (0) }
</script>
<script type="text/javascript" src="/js/media.js"></script>