<div>
    <div>Please save your record locator for this transatoin: {{rec.rec_locator}}</div>
</div>
<div>
    <h2>
        Thank you for placing your bid ad with <a href="http://www.caro.news">The Carolinian</a>
    </h2>
</div>
<div id="CaroMan"></div>
<script type="text/javascript" src="/js/media.js"></script>