html{
	height:100%;
	margin:0;
	padding:0;
}

#CaroBanner {
	margin: -4px;
	width: 100.4vw;
}

body {
	color: #993233;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	margin:0;
	padding:0;
}
#pad {
	padding-bottom: 124px;
}

.add {
    position: relative;
	/* left: 455px; */
	/* left: 36%; */
	left:26vw;
	top: 2.7vh;
	/* bottom:9px; */
}

#bill {
    position: relative;
    font-size: 16px;
    left: 230px;
	border-radius: 10px;
	border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 1px rgb(201, 210, 196);
    width: 275px;
    padding: 10px;
    padding-left: 15px;
}

.money {
	color: rgb(115, 134, 105);
	font-size: 1.2em;
}

.goodbye {
    position: relative;
    width: 75vw;
    left: 8%;
    top: 20%;
}

.space {
    padding-top: 18px;
}

[contentEditable=true]:empty:not(:focus):before{
	content:attr(data-text)
}

p {
	text-align: justify;
}

#bid-form {
	text-align: center;
	margin-bottom: 100px
}

.bg {
	background: url("view/img/Paper3.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity:.4
}

.container {
	background: #fff;
	position: relative;
	/* widows: 100v; */
	/* height: 100vh; */
	/* height: 100%; */
	border: 4px solid;
	border-color: orange;
	box-sizing: border-box;
	z-index: 10;
	font-size: 10pt;
	opacity:.97;
}
/* body:before{ */
    /* content:"index.hbs"; */
    /* width:100%;
    height:100%;
    display:block; */
    /* background:red;  */
	/* } */
.border-main {
	position: relative;
	box-sizing: border-box;
	/* height:100%; */
}
label {
	font-weight: bold;
	margin: 10px -9px 0px 27px;
}

img {
	width:100%;
}

.title {
	position: absolute;
	overflow: hidden;
	z-index: 5;
}

.how-long {
	position: relative;
	top:14px;
	left:16px;
	font-size: 20px;
}

.caroman {
	width: 40%;
	/*width: 90%;*/
	position: absolute;
	right: 40px;
	/*left: 40px;*/
	top: 121px;
	/*top: 76px;*/
	overflow: hidden;
	/*z-index: -1;*/
	/*opacity: 0.15;*/
}

input {
	/*border-color: #993233;*/
	outline-color: orange;
	margin: 18px 10px 22px;
	/*border-color:orange;*/
}

p {
	margin: 10px;
}

.billed {
	color:993233;	
	padding-bottom: 10px;
}

#text-editor{
	position: relative;
	/* left:25px; */
	/* height:30px; */
	bottom: 18px;
}

#ta {
	background-color: #ffffffb3;
	position: relative;
	left:25px;
	min-width: 384px;
	max-width:424px;
	line-height: 20px;
	height: 200px;
	border: 3px inset orange;
	overflow-x: hidden;
	padding: 0px 8px 0px 8px;
	color: black;
	text-align: justify;
	font-size: 12pt;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif; 
	width:100%;
	/* word-wrap:break-all; */
	/* word-break: break-all; */
	/* overflow-wrap: break-word; */
	/* white-space:pre-wrap; */
	/* word-break: break-all; */
}
#ta_2 {
	background-color: #ffffffb3;
	position: relative;
	left:65px;
	min-width: 384px;
	max-width:424px;
	line-height: 20px;
	height: 500px;
	overflow:auto;
	width:100%;
	/* border: 3px inset rgba(15, 10, 1, 0.959); */
	overflow-x: hidden;
	padding: 0px 8px 0px 8px;
	margin: 40px;
	color: black;
	text-align: justify;
	font-size: 12pt;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif; 
	/* white-space:pre-wrap; */
	word-wrap:break-all;
}

.black-line {
	position:relative;
	border: 3px inset rgba(15, 10, 1, 0.959);
	overflow-x: hidden;
	padding: 0px 8px 11px 8px;
    width: 100%;
    right: 11px;
}

#ta_3 {
    background-color: #ffffffb3;
    position: relative;
    left: 65px;
    min-width: 384px;
    max-width: 424px;
    line-height: 20px;
    height: 416px;
    overflow: auto;
    overflow-x: hidden;
    padding: 0px 8px 0px 8px;
    margin: 40px;
    color: black;
    text-align: justify;
    font-size: 12pt;
    font-weight: 400;
    word-wrap: break-all;
}

#start-here {
	font-weight: 750;
	font-style: black;
	text-transform: uppercase;
	text-align:center;
}
h1 {
	text-transform: uppercase;
	text-align:center;
	font-size: 1.5em;
}
h3 {
	font-weight: 600;
	text-transform: uppercase;
	text-align:center;
}

#lines {
	display:none;
	font-size: 20pt;
	margin: -5px 24px 6px 22px;
}

#bidAd {
	display:none;
}

textarea {
	outline-color: orange;
	width:350px;
	max-width:350px;
	height: 100px;
	text-align: justify;
}

.button {
	background-color: #748a70; /* Green */
	border: none;
	color: white;
	position: relative;
	left: 10px;
	padding: 20px;
	text-align: center;
	border-radius: 100%; 
	padding:14px 18px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 9px;
	cursor: pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#h1 {
	padding:14px 16px;
	background-color: #f5a73f;
}
#h3 {
	padding:14px 14px;
	background-color: #9d3939;	
}
#italics {
	padding:14px 22px;
	background-color: #f5a73f;
}

#be-underline {
	background-color: #9d3939; /* Green */
}

#bullet-list {
	padding:14px 6px;

}

#bul-list {
	width:45%;
	height: auto;
	filter: invert(100%);
}

#undo {
	background-color: #f5a73f; /* Green */
	padding:6px 12px;
	font-size: 22px;
	/* text-align: center;
	margin-top: 7px; */
}

#redo {
	background-color: #9d3939; /* Green */
	padding:6px 12px;
	font-size: 22px;
	/* padding:13px 16px; */
	/* text-align: center; */
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
#editor {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif, Arial;	
	color: black;
	text-align: justify;
}

.date {
	width:130px;
}

#bold:hover {
	background-color:#71aa66;
}

#italics:hover {
	background-color:#f99612;
}

#be-underline:hover{
	background-color:#a31313;
}

#bullet-list:hover {
	background-color:#71aa66;
}
#undo:hover {
	background-color:#f99612;
}

#redo:hover {
	background-color:#a31313;
}

#submit-B:hover {
	background-color:#a31313;
}

.caro-submit {
	background-color:  #9b3333;
	color: orange;
	padding:7px;
	border-radius: 28px;
	width: 78px;
	height: 37px;
	margin-left: 10px;
}

/* form {
	position: 
} */

.title-input{
	margin-left:27px;
}

#recLo {
	position: relative;
	bottom: 34px;
	left: 213px;
	width: 50%;
}
.recL{
	font-size: initial;
	padding-left:7px;
	margin-left: 0px;
	margin-right: 0px;
	width:155px;
}
.copy-btn {
	position:relative;
	bottom:2px;
	background-color: #9b3333;
	color: orange;
	padding:7px;
	border-radius: 10px;
	height: 5vh;
	margin-top:0px;
	font-size:12px;
}

.copy-btn:active {
	background-color:rgb(110, 135, 101);
}
a.link_style {
	color: #f2a504;
}

a.link_style:hover {
    color: #728669;
}

@media screen and (max-width: 414px) {
	body {
		background:none;
		background-size: cover;
	}

	.container {
		position: relative;
		overflow: hidden;
		/* widows:100v; */
		width: 100vw;
		height:710px;
	    /* right:2px; */
	}
	#text-editor {
		position: relative;
		right: 7px;
		left: -7px;
	}

	.button {
		margin: 4px 0px 0px -2px;
	}

	#ta{
		left:0px;
		font-size: 11pt;
	}

	.caroman {
		width: 127%;
		position: absolute;
		left: 15px;
		top: 61px;
		z-index: -1;
		opacity: 0.15;
	}

	.date {
		width:90px;
	}

	#undo {
		background-color: #f5a73f; /* Green */
		padding:11px 16px;
		text-align: center;
		font-size: 16px;
		margin-top: 7px;
	}
	
	#redo {
		background-color: #9d3939; /* Green */
		padding:11px 16px;
		font-size: 16px;
		text-align: center;
	}

	#lines {
		float:right;
		margin: 0 6px;
	}
	label {
		margin: 10px -9px 0px 27px;
	}
	.end-date{
		margin:-6px;
	}
}

@media screen and (max-width: 736px) and (min-width: 660px) {
	body{
		background-size: cover;
	}
	.container {
		position: relative;
		left:10%;
		width:575px;
		overflow: hidden;
	}

	.caroman {
		width: 127%;
		position: absolute;
		left: 15px;
		top: 61px;
		z-index: -1;
		opacity: 0.15;	
	}

	#undo {
		background-color: #f5a73f;
		/* padding:11px 16px; */
		text-align: center;
		margin-top: 7px;
	}

	#redo {
		background-color: #9d3939; 
		/* padding:11px 16px; */
		text-align: center;
	}
	#lines {
		float:right;
		margin: -5px 24px 6px 22px;
	}
	.caro-submit {
		position:relative;
		margin:-6px 23px 10px;
	}

}